body {
    background-color: #f8f9fa !important; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.control-box {
    background-color: white;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.chart-container {
    position: relative; 
    width: 100%;
    flex-grow: 1;       
    min-height: 250px;  
    margin-top: auto;   
}

.js-plotly-plot {
    position: absolute !important; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}

.icon-transition {
    transition: color 0.3s ease-in-out;
}

.light-on {
    color: #0d6efd !important; 
}

.btn:disabled, .form-range:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}